<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="Z.EntityFramework.Extensions" version="4.0.89" targetFramework="net471" />
  <package id="Z.EntityFramework.Plus.EF6" version="1.12.30" targetFramework="net471" />
  <package id="Z.Expressions.Eval" version="4.0.12" targetFramework="net471" />
</packages>