@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                @if (Model.ExternalLogins?.Count > 0)
                {
                    <p style="text-align:center"> OR </p>
                }
                <input asp-for="Input.Email" placeholder="Email..." type="email" required="" autofocus="" class="mb-1 form-control" />
                <br />
                <span class="text-danger" asp-validation-for="Input.Email"></span>
                <input asp-for="Input.Password" placeholder="Password..." type="password" required="" class="form-control" />
                <br />
                <button type="submit" class="btn btn-success btn-block"><i class="fa-facebook-square fa-sign-in-alt"></i> Sign in</button>
                <br />
                <a id="forgot-password" asp-page="./ForgotPassword" class="pb-2">Forgot your password?</a>
                <div asp-validation-summary="All" class="text-danger"></div>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-primary text-white" id="btn-signup"><i class="fas fa-user-plus"></i>Register as a new user</a>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
